<script setup>
import { onMounted } from "@vue/runtime-core";
import { useRouter } from "vue-router";
import { useStore } from 'vuex';
import StartForm from "../components/StartForm.vue";

const router = useRouter();
const store = useStore();

onMounted(async () => {
    await store.dispatch("fetchAllCategories");
});

/**
 * Redirects to the Trivia page if all fields have been filled in and stored 
 * successfully.
 */
const handleAuthSuccess = () => {
    router.push("/Trivia");
};
</script>


<template>
    <main class="container mx-2 px-2">
        <h1 class="mb-3 text-3xl py-2">Fill in form to get started</h1>
        <StartForm @onAuthSuccess="handleAuthSuccess" />
    </main>
</template>