<script setup>
import ResultList from '../components/ResultList.vue';
import ResultButtons from '../components/ResultButtons.vue';
</script>

<template>
    <main class="container mx-2 px-2">
        <h1 class="mb-3 text-3xl py-2">Result</h1>
        <ResultList /> 
        <ResultButtons />
    </main>
</template>

