<script setup>
import { onMounted } from 'vue';
import { useStore } from 'vuex';
import TriviaList from '../components/triviaList.vue';

const store = useStore()

// Fetches questions on mounted
onMounted(async() => {
    await store.dispatch("fetchQuestions");

    // reset question index
    store.commit("setIndex", 0);
})



</script>

<template>
    <main class="container mx-2 px-2">
        <h1 class="mb-3 text-3xl py-2">Trivia</h1>
        <!-- Checks if fetching is complete -->
        <div v-if="store.state.loading === false"></div>
        <TriviaList v-if="store.state.loading === false"/>
    </main>
</template>