<script setup>import { useStore } from 'vuex';
import he from "he";

const store = useStore()
defineProps({
    question:{
        type: Object,
        required: true
    }
})

</script>
<template>
    <div class="block mb-5">
        <p class="font-semibold mb-2">{{he.decode(question.question)}}</p>
        <p>Correct answer: {{he.decode(question.correct_answer)}}</p>
        <p>User answer: {{he.decode(question.userAnswer)}}</p>
        <p>Score: {{question.score}}</p>
    </div>
</template>