<script setup>
import { useRouter } from "vue-router";

const router = useRouter();

/**
 * Redirects to the Trivia page if retry button is clicked.
 */
const handleOnRetry = () => {
    router.push("/Trivia");
};

/**
 * Redirects to the Start page if Back To Home button is clicked.
 */
const handleOnBackToHome = () => {
    localStorage.removeItem("trivia-user");
    localStorage.removeItem("trivia-category");
    localStorage.removeItem("trivia-difficulty");
    localStorage.removeItem("trivia-numQuestions");
    localStorage.removeItem("trivia-type");
    localStorage.removeItem("sessionToken");
    router.push("/");
};
</script>

<template>
    <div class="block">
        <button 
            @click="handleOnRetry" 
            class="bg-blue-600 text-white p-1 rounded mx-1 w-1/5"
        >Retry</button>
        <button 
            @click="handleOnBackToHome" 
            class="bg-green-600 text-white p-1 rounded mx-1 w-1/5"
        >Back to home</button>
    </div>
</template>