<script setup>
import { computed, onMounted  } from 'vue';
import { useStore } from 'vuex';
import ResultItem from './ResultItem.vue';

const store = useStore();

// Getting the questions
const questions = computed(() => store.state.questions);

/**
 * Get the current user ID and high score.
 * @returns An array with user ID and user high score
 */
const getUserIDAndScore = () => {
    const currentUser = store.state.user;
    const userID = currentUser.id;
    const userScore = currentUser.highScore;
    return [ userID, userScore ];
}

/**
 * Get the current game score.
 * @returns Number - the current score from this run of the Trivia Game
 */
const setScore = () => {
    store.dispatch('calculateScore');
    const score = store.state.score;
    return score;
}

/**
 * Update this user's stored high score if the game score from this game run is 
 * better, or if high score is not stored.
 * @returns Potential error
 */
async function updateScore(score, userID, userOldScore) {
    try {
        
        if (!userOldScore || score > userOldScore) {
            const error = await store.dispatch("updateUserHighScore", {
                userID: userID, 
                highScore: score
            });

            if (error) {
                throw new Error(error);
            }
        }
    
        return null;
    }
    catch (error) {
        return error;
    }
}

// getting this game score 
const currentScore = setScore();

// get this user's ID and stored score
const [currentUserID, currentUserScore] = getUserIDAndScore();

// Update stored high score if necessary
const currentError = updateScore(currentScore, currentUserID, currentUserScore);

</script>

<template>
    <ResultItem v-for="quest in questions" :key="quest" :question="quest"/>
    <p class="font-semibold mb-2"> Total Score: {{currentScore}} </p>
    <p v-if="!currentUserScore || currentScore > currentUserScore" > Congratulations, you have set a new high score! </p>
</template>
