<script setup>
import { ref, computed } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const emit = defineEmits(["onAuthSuccess"]);

const username = ref("");
const numQuestions = ref("");
const selectCategory = ref("");
const selectDifficulty = ref("");
const selectType = ref("");

const displayError = ref("");

const categories = computed(() => store.state.categories);

/**
 * Actions to be performed on clicking the submit-button. 
 */
const onSubmit = async () => {
    const error = await store.dispatch("start", {
        username,
        numQuestions,
        selectCategory,
        selectDifficulty,
        selectType
    });

    // Getting the session token:
    const tokenSession = await store.dispatch("fetchSessionToken")

    if (error !== null) {
        displayError.value = error;

    } else {
        emit("onAuthSuccess");
    }

}


</script>

<template>
    <form @submit.prevent="onSubmit" class="mb-3">
        <fieldset class="mb-3">
            <label for="username" area-label="Username" class="block">Username</label>
            <input
                type="text"
                id="username"
                placeholder="E.g., john.doe"
                class="border border-slate-500"
                v-model="username"
            />
        </fieldset>

        <fieldset class="mb-3">
            <label for="numQuestions" area-label="Number of questions" class="block">Number of questions:</label>
            <input
                id="numQuestions"
                type="number"
                min="1"
                max="50"
                class="border border-slate-500"
                v-model="numQuestions"
            />
        </fieldset>

        <fieldset class="mb-3">
            <label for="selectCategory" area-label="Select category" class="block">Select category:</label>
            <select id="selectCategory" class="border border-slate-500" v-model="selectCategory">
                <option value="" selected>Any Category</option>
                <option v-for="category in categories" :key="category.id" :value="category.id"> {{category.name}} </option>
            </select>
        </fieldset>

        <fieldset class="mb-3">
            <label for="selectDifficulty" area-label="Select difficulty" class="block">Select difficulty:</label>
            <select id="selectDifficulty" class="border border-slate-500" v-model="selectDifficulty">
                <option value="" selected>Any Difficulty</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
        </fieldset>

        <fieldset class="mb-3">
            <label for="selectType" area-label="Select type" class="block">Select type of questions:</label>
            <select id="selectType" class="border border-slate-500" v-model="selectType">
                <option value="" selected>Any Type</option>
                <option value="multiple">Multiple Choice</option>
                <option value="boolean">True / False</option>
            </select>
        </fieldset>

        <div class="block mb-3">
            <button type="submit" class="bg-green-600 text-white p-1 w-1/5 rounded">START</button>
        </div>
    </form>

    <div v-if="displayError" class="block bg-red-500 text-white p-2">
        <span class="text-lg">Error</span>
        <p>{{ displayError }}</p>
    </div>
</template>