<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from "vue-router";

import TriviaItem from './triviaItem.vue';

const store = useStore();
const router = useRouter();

//  questions
const questions = computed(() => store.state.questions)

const backToStart = () => {
    router.push("/");
}

</script>

<template>
    <div v-if="store.state.errorFetchQuestions" class="block bg-red-500 text-white p-2">
        <span class="text-lg">Error</span>
        <p>There are not any questions that fulfill your requirements.</p>
        <button @click="backToStart">Click here to go back to start.</button>
    </div>
    <TriviaItem v-else v-model="questions" :question="questions[store.state.indexQuestion]"/>
</template>