<script setup>
import { computed } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import he from 'he';

const store = useStore();
const router = useRouter();

defineProps({
    question:{
        type: Object,
        required: true
    }
})

/**
 * Shuffles the question answers.
 * @returns Array with all question answers in randomized order
 */
const createRandomAnswersArray = (question) => {
    let answers = [question.correct_answer].concat(question.incorrect_answers);
    // Shuffling the list
    answers.sort(() => Math.random() - 0.5);
    return answers;
}

const nextQuestion = (data) =>{

    store.dispatch("changeUserAnswers",{
        svar: data
    })

    // checks if last question in list
    if(store.state.questions.length == store.state.indexQuestion+1){
        // Take to result screen
        router.push("/Result");
        
    } else{
        store.commit("setIndex", store.state.indexQuestion += 1)
    }
}

</script>

<template>

<!-- Waits for questions to be loaded before trying to display -->
<div class="block">

    <h1 class="mb-4">{{he.decode(question.question)}}</h1>

    <div v-if="question.type === 'multiple'" class="grid gap-2 grid-cols-2 grid-rows-2">
        <button 
            v-for="answer in createRandomAnswersArray(question)" :key="answer"
            @click="nextQuestion(answer)"
            class="bg-blue-600 text-white p-1 rounded border-2 border-black"
        >{{he.decode(answer)}}</button>
    </div>
    <div v-else class="block">
        <button @click="nextQuestion('True')" class="bg-green-600 text-white p-1 rounded mx-1 w-1/5">True</button>
        <button @click="nextQuestion('False')" class="bg-red-600 text-white p-1  rounded mx-1 w-1/5">False</button>
    </div>
</div>
    
</template>
